[Unit]
Description=NordibleMailServer Server
Conflicts=postfix.service sendmail.service exim4.service
ConditionPathExists=__PATH__/etc/config.json
After=network-online.target

[Service]
Type=simple
LimitNOFILE=65536
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
ExecStart=__PATH__/bin/nordiblemailserver --config=__PATH__/etc/config.json
SyslogIdentifier=nordiblemailserver
User=nordiblemailserver
Group=nordiblemailserver
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
